<div class="post {{ post.category }}" title="{{ post.title }} on {{ post.console }}">


        <img src="{{ site.url }}/img/dusty-shelf/{{ post.img }}" class="img-fluid">
        <h1>{{ post.title | truncate: 23 }} on {{ post.console }}</h1>
        <!--<a class="button">More Info</a>-->

</div>


<div class="modal2">
    
        <img src="{{ site.url }}/img/{{ post.img }}" class="img-fluid">
        <div class="header">
            <p class="date">{{ post.category }}</p>
            <a href="{{ post.link }}" target="_blank">
                <h1>{{ post.title }}</h1>
            </a>
            <p class="date">{{ post.projectDate }}</p>
        </div>
        <p class="excerpt">{{ post.excerpt }}<br><br>
            <a href="{{ post.link }}" target="_blank">More about this →</a>
        </p>


</div>
